/*
vertical navbar
*/
.navbar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}
.navbar h1 {
    margin-left: 10px;
    z-index: 20;
}

.links {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.links li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.links li a:hover {
    color: #f1f1f1;
}

.links li a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}

.cursor {
    position: absolute;
    width: 28px;
    height: 28px;
}